.link.current {
  position: relative;
  color: $accent-color;
  display: inline-flex;
  align-items: flex-start;
  height: 48px;

  &::after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
