.navigation {
  display: flex;
  align-items: center;

  .address {
    font-style: normal;
    margin-left: auto;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    display: none;
  }
}
